<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello React</title>
  </head>
  <body>
    <section id="main">
      <div class="container">
        <div id="page">
          {{{ body }}}
        </div>
        <div id="test">
          Testing how react works..
        </div>
      </div>
    </section>
    <script src="bundle.js"></script>
  </body>
</html>